body{
    margin: 0;
    padding:0;
    font-family: sans-serif;
}

.fixed-top{
    position: fixed;
    width: 100%;
}

header{
    background:#990000;
    width: 100%;
    padding: 40px 0;
    color: white;
    text-align: center;
}

nav ul{
    background-color:#ff1a1a;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    -webkit-transition: max-height0.4s;
    transition: max-height0.4s;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li:hover{
    background: rgba(225, 180, 180, 0.5);
}

a{
    text-decoration: none;
    color: inherit;
}

.bgimg{
    background-image: url("blood_splatter_and_zombie_background.gif");
    background-size: 100%;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    z-index: -1;
    opacity: 0.4;
}

.section-margin{
    padding-top: 190px;
}
section{
    line-height: 190%;
    font-size: 110%;
    padding: 40px;
    width: 70%;
    overflow: auto;
    margin: 0 auto;
}

.handle{
    width: 100%;
    background: #990000;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    color: white;
    display: none;
}

#icon{
    float: right;
}

#icon > div{
    margin: 3px;
    width: 20px;
    height: 3px;
    background: white;
    border-radius: 5px;
}

footer{
    margin: 0 auto;
    height: 3%;
    padding: 1%;
    text-align: center;
}

@media screen and (max-width: 580px){
    nav ul{
        max-height: 0;
    }

    .showing{
        max-height: 20em;
    }

    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        text-align: left;
    }

    .handle{
        display: block;
    }
}